@import
url('https://fonts.googleapis.com/css2?family=Marcellus&amp;family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap');
:root{
    
  --azulclaro: #48D6ED;
  --azuloscuro: #337AB7;
  --azulnegro: #303342;
  --negro: #333333;
  --negro2: #000;
  --gris: #B2B3B3;
  --fondo: #FFFEFC;
  --verdeazul: #157A8A;
  --Magenta: #9C2759;
  --blanco: #fff;
  --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}

*{
    margin: 0;
    padding: 0;

}

body {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    background-image: url('../img/dash/background2.jpeg');
    background-size: 200% 200vh;
    
}

h1,h2,h3,h4,h5 {
    font-family: 'Marcellus', serif;
}

body{
    display: grid;
    grid-template:
    "left" 10%
    "formulario" auto;
}

.left{
    display: block;
    text-align: center;
    grid-area: left;
    margin-top: 20px;
    background: rgb(72,137,180);
    background: linear-gradient(90deg, rgba(72,137,180,1) 0%, rgba(17,53,105,1) 100%, rgba(0,212,255,1) 100%);
    padding: 5px;
}

.text{
    color: var(--blanco);
    font-size: 1.5em;
    margin-top: 10px;
    font-family: 'Marcellus', serif;
}

label{
    margin-top: 6px;
}

.formulario{
    grid-area: formulario;
    background-color: rgba(225, 228, 225, 0.86);
    margin: 20px;
    border-radius: 7px;
    -webkit-box-shadow: 2px -1px 34px 1px rgba(0,0,0,0.89); 
    box-shadow: 2px -1px 34px 1px rgba(0,0,0,0.89);
}

.form{
    margin: 0px 20px;
    padding: 20px 0px;
}

.form-1{
    display: none;
}

form > h2{
    margin-top: 20px;
}



h2{
    text-align: center;
    font-size: 2.2em;
    color: var(--negro2);
}

img{
    display: flex;
    margin: auto;
    width: 130px;
}  

.checks{
    display: flex;
    gap: 20px;
}
.form-check{
    height: 70px;
    padding: 2px;
}

.footer{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer input{
    font-size: 18px;
}

.button {
    color: var(--blanco);
    margin-bottom: 1.5em;
    border-radius: 3px;
    background-color: var(--negro2);
    align-items: center;
    justify-content: center;
}

@media screen and (min-width:1024px){

    body{
        background-size: 120% 120vh;
        display: grid;
        grid-template:
        "left formulario" 100% /
          30% auto; 
    }

    .left{
        grid-area: left;
        background: linear-gradient(90deg, rgba(72,137,180,0.9) 0%, rgba(17,53,105,0.9) 100%, rgba(0,212,255,0.9) 100%);
    }

    .image{
        position: relative;
        display: flex;
        flex-direction: column;
        top: 40%;
    }

    .image img{
        width: 70%;
    }

    .te{
        display: none;
    }

    .te1{
        width: 100%;
        padding: 20px;
        display: block;
        color: #fff;
        font-size: 50px;
        margin-top: 10px;
    }

    .form{
        display: none;
    }

    .form-1{
        font-size: 23px;
        display: grid;
        grid-template:
            "column-1 column-2" 100%/
            50% 50%; 
    }

    form > h2{
        grid-area: titulo;
        font-size: 50px;
        text-align: center;
        color: var(--negro2)
    }

    #column-1{
        grid-area: column-1; 
        padding: 20px;
    }

    #column-2{
        grid-area: column-2; 
        padding: 20px;
    }

    .form-check{
        margin-top: 7px;
        margin-bottom: 5px;
    }

    .genero{
        margin-top: -30px;
    }

    .footer{
        display: flex;
        flex-direction: column;
    }

    .button{
        width: 30%;
        height: 45px;
    }

}
